Bootstrap: docker
From: {{ base_image }}

%labels
    Name {{ node_name }}
    Version {{ tag }}

%files
    . /opt/{{ node_name }}

%post
    set -eux
    export DEBIAN_FRONTEND=noninteractive

    apt-get update
    apt-get install -y --no-install-recommends pkg-config libclang-dev
    rm -rf /var/lib/apt/lists/*

    cd /opt/{{ node_name }}
    cargo build --release

%runscript
    cd /opt/{{ node_name }}
    exec ./target/release/{{ node_name }}
