{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
  },
  interfaces: {},
{% if with_container %}
  runtime: {
    language: "rust",
    container: {
      def_file: "apptainer.def",
    },
  },
{% else %}
  runtime: {
    language: "rust",
    add_cmd: [
      "cargo",
      "build",
      "--release"
    ],
    start_cmd: [
      "./target/release/{{ node_name }}"
    ]
  },
{% endif %}
}
