{
  peppy_schema: "nodes_v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
  },
  interfaces: {},
{% if with_container %}
  execution: {
    language: "rust",
    container: {
      def_file: "apptainer.def",
    },
  },
{% else %}
  execution: {
    language: "rust",
    build_cmd: [
      "cargo",
      "build",
      "--release"
    ],
    run_cmd: [
      "./target/release/{{ node_name }}"
    ]
  },
{% endif %}
}
