{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
  },
  codegen: {
    language: "rust"
  },
{% if with_container %}
  container: {
    def_file: "apptainer.def",
  },
{% else %}
  process: {
    add_cmd: [
      "cargo",
      "build",
      "--release"
    ],
    start_cmd: [
      "./target/release/{{ node_name }}"
    ]
  },
{% endif %}
  interfaces: {}
}
