[package]
name = "{{ node_name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
peppygen = { path = "{{ pepygen_path }}" }
peppylib = { path = "{{ pepylib_path }}" }
bytes = "1"
tokio = { version = "1.47", features = ["full"] }
tokio-util = "0.7"
tracing = "0.1"
serde = "1"