[package]
name = "{{ node_name }}"
description = "{{ description }}"
version = "0.1.0"
edition = "2024"

[dependencies]
peppycl = "*"
# TODO add peppygen
# peppygen = { path = ".peppy/crates/peppygen" }
