[project]
name = "{{ node_name }}"
version = "0.1.0"
description = "{{ node_name }} Peppy Python node"
requires-python = ">=3.8"

[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"