{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    labels: [
      "uvc",
      "camera",
      "usb",
    ],
    launch_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  config: {
    auto_start: false,
    respawn: true,
    respawn_delay: 3.0,
  },
  parameters: {
    device: {
      physical: "string",
      sim: "string",
      priority: "string"
    },
    video: {
      frame_rate: "u16",
      resolution: {
        width: "u16",
        height: "u16",
      },
      encoding: "string",
    },
  },
  interfaces: {
    exposes: {
      topics: [
        {
          name: "stream",
          qos_profile: "sensor_data",
          message_format: {
            header: {
              type: "object",
              stamp: "time",
              frame_id: "u32",
            },
            encoding: "string",
            width: "u32",
            height: "u32",
            image: {
              type: "array",
              items: "u8",
              length: 3
            },
          },
        }
      ],
      services: [
        {
          name: "enable_camera",
          accept_message_format: {
            enable: "bool",
          },
          return_message_format: {
            enabled: "bool",
          },
        },
        {
          name: "get_camera_info",
          return_message_format: {
            card_type: "string",
            size: "string",
            interval: "string"
          },
        },
      ],
    },
    subscribes_to: {
      topics: [],
      services: [],
      actions: [],
    },
  },
  resources: {
    max_memory_mb: 256,
  },
  logging: {
    min_level: "info",
  }
}
