Bootstrap: docker
From: {{ base_image }}

%labels
    Name {{ node_name }}
    Version {{ tag }}

%environment
    export PATH="/opt/{{ node_name }}/.venv/bin:$PATH"

%files
    . /opt/{{ node_name }}

%post
    set -eux
    export DEBIAN_FRONTEND=noninteractive

    cd /opt/{{ node_name }}
    uv python install
    uv sync --no-editable

%runscript
    cd /opt/{{ node_name }}
    exec ./.venv/bin/python -m {{ node_name }}
