{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
  },
  interfaces: {},
{% if with_container %}
  execution: {
    language: "python",
    container: {
      def_file: "apptainer.def",
    },
  },
{% else %}
  execution: {
    language: "python",
    build_cmd: [
      "uv",
      "sync",
      "--no-editable"
    ],
    start_cmd: [
      "./.venv/bin/python",
      "-m",
      "{{ node_name }}"
    ]
  },
{% endif %}
}
