{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    language: "python",
  },
{% if with_container %}
  container: {
    def_file: "apptainer.def",
  },
{% else %}
  process: {
    add_cmd: [
      "uv",
      "sync",
      "--no-editable"
    ],
    start_cmd: [
      "./.venv/bin/python",
      "-m",
      "{{ node_name }}"
    ]
  },
{% endif %}
  interfaces: {}
}
