{
  peppy_schema: "node_v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "v1",
  },
  interfaces: {},
{% if with_container %}
  execution: {
    language: "python",
    container: {
      def_file: "apptainer.def",
    },
  },
{% else %}
  execution: {
    language: "python",
    build_cmd: [
      "uv",
      "sync",
      "--no-editable"
    ],
    run_cmd: [
      "./.venv/bin/python",
      "-m",
      "{{ node_name }}"
    ]
  },
{% endif %}
}
