[package]
name = "peppygen"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.47", features = ["full"] }
# This should be the only peppy dependency peppygen depends on
peppylib = { path = "{{ peppylib_path }}", version = "{{ peppylib_version }}" }
capnp = "0.23"
bytes = "1"
thiserror = "2.0"
