// A simple node that receives commands from a brain and control the joints of the robot
{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    labels: [
      "controller",
    ],
    launch_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  parameters: {},
  interfaces: {
    exposes: {
      topics: [],
      services: [],
      actions: [
        {
          // The controller exposes this action for the brain to use it
          name: "move_right_arm",
          goal_service: {
            // Always using "reliable" qos
            request_message_format: {
              arm_id: "u16",
              desired_position: {
                $type: "array",
                $items: "i32",
                $length: 3
              }
            },
            response_message_format: {
              accepted: "bool"
            }
          },
          feedback_topic: {
            qos_profile: "standard", // Options: "standard", "reliable", "sensor_data"
            message_format: {
              new_position: {
                $type: "array",
                $items: "i32",
                $length: 3
              }
            }
          },
          // Always using "reliable" qos
          result_service: {
            response_message_format: {
              final_position: {
                $type: "array",
                $items: "i32",
                $length: 3
              }
            }
          }
        }
      ],
    },
    subscribes_to: {
      topics: [],
      services: [],
      actions: [],
    },
  },
  resources: {
    // This is the resource per instance
    max_memory_mb: 256,
  },
  logging: {
    min_level: "info",
  }
}
