# PeppyOS Node Configuration for {{ name }}
node_config:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
  version: "0.1.0"
  respawn: true # Only relevant if deployed as a system service with `peppy node deploy`
  respawn_delay: 2.0 # In case of a crash, how much time until the node restarts

# The parameters of the current node
node_parameters: {}

subscribes_to:
  topics: []
  services: []
  actions: []

exposes:
  topics: []
  services: []
  actions: []

resources:
  max_memory_mb: 1024

logging:
  min_level: "info"
  file_path: "/var/log/peppy/{{ name }}_node.log"
  max_file_size_mb: 10
  format: "text"
