{
  manifest: {
    name: "{{ name }}",
    version: "0.1.0",
    language: "{{ language }}"
  },
  instances: [
    {
      namespace: "{{ namespace }}"
    }
  ],
  logging: {
    min_level: "info",
    format: "text"
  }
}
