{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "{{ node_tag }}",
    labels: [
      "sensor",
      "usb",
      "lidar"
    ],
    start_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  parameters: {
    device: {
      physical: "string",
      sim: "string",
      priority: "string"
    },
    lidar_point: {
      x: "f32",
      y: "f32",
      z: "f32",
      intensity: "f32",
      return_type: "u8",
      classification: "u8",
      timestamp: "time",
    }
  },
  interfaces: {
    exposes: {
      topics: [
        {
          name: "push_lidar_object",
          qos_profile: "sensor_data",
          message_format: {
            header: {
              $type: "object",
              stamp: "time",
              frame_id: "u32",
            },
            x: "f32",
            y: "f32",
            z: "f32",
            intensity: "f32",
            return_type: "u8", // e.g. first return, last return
            classification: "u8", // type of object detected
          },
        }
      ],
      services: [
        {
          name: "enable_camera",
          request_message_format: {
            enable: "bool",
          },
          response_message_format: {
            enabled: "bool",
          },
        },
        {
          name: "get_camera_info",
          response_message_format: {
            card_type: "string",
            size: "string",
            interval: "string"
          },
        },
      ],
    },
    subscribes_to: {
      topics: [],
      services: [],
      actions: [],
    },
  },
  resources: {
    max_memory_mb: 256,
  },
  logging: {
    min_level: "info",
  }
}
