[project]
name = "peppygen"
version = "0.1.0"
requires-python = ">={{ python_min_version }},<{{ python_max_version }}"
dependencies = ["pycapnp", "peppylib=={{ peppylib_version }}"]

[tool.setuptools.packages.find]
include = ["peppygen*"]

[tool.setuptools.package-data]
peppygen = ["capnp/*.capnp"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
