use peppylib::system::LaunchConfigProcessor;

pub struct Messenger {
    messenger: peppylib::MessengerHandle,
    config_processor: LaunchConfigProcessor,
}

impl Messenger {
    pub async fn connect(host: &str, port: u16) -> crate::Result<Self> {
        let messenger = peppylib::MessengerHandle::from_host_port(host, port)
            .await
            .map_err(crate::Error::Messaging)?;
        let config_processor = LaunchConfigProcessor::new()?;
        Ok(Self { messenger, config_processor })
    }

    pub fn node_name(&self) -> &str {
        self.config_processor.get_node_name()
    }

    pub fn master_node(&self) -> &str {
        self.bound_master_node()
    }

    pub fn bound_master_node(&self) -> &str {
        self.config_processor.bound_master_node()
    }

    pub fn handle(&self) -> &peppylib::MessengerHandle {
        &self.messenger
    }
}
