pub struct Messenger {
    master_node_name: String,
    node_name: String,
    messenger: peppylib::MessengerHandle,
}

impl Messenger {
    pub async fn connect(host: &str, port: u16) -> crate::Result<Self> {
        let messenger = peppylib::MessengerHandle::from_host_port(host, port)
            .await
            .map_err(crate::Error::Messaging)?;
        let node_name = std::env::var("PEPPY_NODE_NAME").map_err(|source| {
            crate::Error::MissingInstanceIdEnvVar {
                var: "PEPPY_NODE_NAME",
                source,
            }
        })?;
        let master_node_name = "{{ master_node_name }}";

        // Using NodeName allows the node_name to be checked for valid characters
        let node_name = peppylib::config::NodeName::new(node_name)?;
        Ok(Self {
            node_name, // TODO: Turn node_name into a String
            master_node_name,
            messenger,
        })
    }

    pub fn node_name(&self) -> &str {
        self.node_name.as_str()
    }

    pub fn handle(&self) -> &peppylib::MessengerHandle {
        &self.messenger
    }
}
