// A simple node that has an AI and acts as the brain of the robot
// It sends actions to the controller to perform those actions
{
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    labels: [
      "brain"
    ],
    launch_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  config: {
    auto_start: false,
    respawn: true,
    respawn_delay: 3.0,
  },
  parameters: {},
  interfaces: {
    exposes: {
      topics: [],
      services: [],
      actions: [
        {
          // The brain sends signals to the controller
          name: "move_arm",
          goal_service: {
            // Always using "reliable" qos
            message_format: {
              arm_id: "u16",
              desired_position: {
                type: "array",
                items: "i32",
                length: 3
              }
            }
          },
          feedback_topic: {
            qos_profile: "standard", // Options: "standard", "reliable", "sensor_data"
            message_format: {
              // Could be any format, using payload/bytes as placeholder here
              payload: "bytes"
            }
          },
          result_service: {
            // Always using "reliable" qos
            message_format: {
              final_position: {
                type: "array",
                items: "i32",
                length: 3
              }
            }
          }
        }
      ],
    },
    subscribes_to: {
      topics: [
        {
          node: "{{ uvc_camera_node_name }}",
          tag: "0.1.0",
          name: "stream",
          callback: "on_video_frame_received"
        },
        {
          node: "{{ lidar_sensor_node_name }}",
          tag: "0.1.0",
          name: "stream",
          callback: "on_video_frame_received"
        }
      ],
      services: [],
      actions: [],
    },
  },
  resources: {
    max_memory_mb: 1024,
  },
  logging: {
    min_level: "info",
  }
}
