// A simple node that has an AI and acts as the brain of the robot
// It sends actions to the controller to perform those actions
{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    labels: [
      "brain"
    ],
    launch_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  parameters: {},
  interfaces: {
    exposes: {
      topics: [],
      services: [],
      actions: [],
    },
    subscribes_to: {
      topics: [
        {
          node: "{{ uvc_camera_node_name }}",
          tag: "0.1.0",
          name: "stream"
        },
        {
          node: "{{ lidar_sensor_node_name }}",
          tag: "0.1.0",
          name: "stream"
        }
      ],
      services: [],
      actions: [
        {
          node: "{{ controller_node_name }}", // Will look for that node name
          tag: "0.1.0", // On that particular tag/version
          name: "move_right_arm", // With this action name
        }
      ],
    },
  },
  resources: {
    max_memory_mb: 1024,
  },
  logging: {
    min_level: "info",
  }
}