// A simple node that has an AI and acts as the brain of the robot
// It sends actions to the controller to perform those actions
{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    language: "rust",
    labels: [
      "brain"
    ],
  },
  process: {
    start_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  parameters: {},
  interfaces: {
    exposes: {
      topics: [],
      services: [],
      actions: [],
    },
    consumes: {
      topics: [
        {
          id: "camera_stream",
          node: "{{ uvc_camera_node_name }}",
          tag: "0.1.0",
          name: "video_stream"
        },
        {
          id: "lidar_object_push",
          node: "{{ lidar_sensor_node_name }}",
          tag: "0.1.0",
          name: "push_lidar_object"
        }
      ],
      services: [],
      actions: [
        {
          id: "move_right_arm_action",
          node: "{{ controller_node_name }}", // Will look for that node name
          tag: "0.1.0", // On that particular tag/version
          name: "move_right_arm", // With this action name
        }
      ],
    },
  }
}
