// A simple node that has an AI and acts as the brain of the robot
// It sends actions to the controller to perform those actions
{
  schema_version: 1,
  manifest: {
    name: "{{ node_name }}",
    tag: "0.1.0",
    labels: [
      "brain"
    ],
    depends_on: {
      nodes: [
        { name: "{{ uvc_camera_node_name }}", tag: "0.1.0", local_id: "uvc_camera" },
        { name: "{{ lidar_sensor_node_name }}", tag: "0.1.0", local_id: "lidar_sensor" },
        { name: "{{ controller_node_name }}", tag: "0.1.0", local_id: "controller" },
      ]
    },
  },
  runtime: {
    language: "rust",
    start_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
  parameters: {},
  interfaces: {
    topics: {
      consumes: [
        {
          local_node_id: "uvc_camera",
          name: "video_stream"
        },
        {
          local_node_id: "lidar_sensor",
          name: "push_lidar_object"
        }
      ],
    },
    actions: {
      consumes: [
        {
          local_node_id: "controller",
          name: "move_right_arm",
        }
      ],
    },
  }
}
